[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/5686senthil
[access "refs/for/refs/*"]
	read = group user/5686senthil
	push = group user/5686senthil
	label-Code-Review = -2..+2 group user/5686senthil
	label-Verified = -1..+1 group user/5686senthil
	rebase = group user/5686senthil
	removeReviewer = group user/5686senthil
	submit = group user/5686senthil
[access "refs/heads/*"]
	read = group user/5686senthil
	create = group user/5686senthil
	push = +force group user/5686senthil
	pushMerge = group user/5686senthil
[access "refs/tags/*"]
	push = +force group user/5686senthil
	createTag = group user/5686senthil
	createSignedTag = group user/5686senthil
